<section>
  <article class="home-headline">
    <h1>Ask anything you want!</br>
      <small>As long as it's multiple choice</small>
    </h1>
  </article>
  <article class="home-create-poll">
    <%= render "polls/form", poll: poll %>
  </article>
</section>

